@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 215 25% 27%;
    --primary: 189 42% 29%;
    --primary-foreground: 0 0% 100%;
    --accent: 15 100% 50%;
    --accent-foreground: 0 0% 100%;
    --muted: 220 13% 91%;
    --muted-foreground: 215 25% 27%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 189 42% 29%;

    --heading: 0 0% 20%;
    --text: 0 0% 33%;
  }

  .dark {
    --background: 0 0% 7%;
    --foreground: 0 0% 80%;
    --primary: 174 34% 58%;
    --primary-foreground: 0 0% 100%;
    --accent: 15 100% 50%;
    --accent-foreground: 0 0% 100%;
    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 80%;
    --border: 0 0% 20%;
    --input: 0 0% 20%;
    --ring: 174 34% 58%;

    --heading: 0 0% 100%;
    --text: 0 0% 80%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply text-[hsl(var(--heading))];
  }

  p {
    @apply text-[hsl(var(--text))];
  }
}